.about-dialog-container {
  width: 450px;
  max-width: 80%;
}

.about-dialog-container > .header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.about-dialog-container > .header-container > .title-text {
  font-weight: bold;
}

.about-dialog-container > .content-container > * {
  margin-bottom: 10px;
}

.about-dialog-container .close-btn {
  cursor: pointer;
}
