.topics-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
}

.topics-container > .date-text {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
}

.topics-container > .topic-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.topic-container > * {
  color: black;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 0;
}

.topic-container > .index-text {
  color: gray;
  display: block;
  width: 22px;
  flex-shrink: 0;
  text-align: right;
}

.topic-container > .link-text {
  margin-left: 5px;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: lightgray;
  text-underline-offset: 4px;
}

.topic-container > .link-text:hover {
  text-decoration-color: black;
}
