.topics-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.topics-container > .date-text {
  font-size: 22px;
}

.topics-container > .topic-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.topic-container a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
}

.topic-container a:hover {
  text-decoration: underline;
}
